<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchlist</title>
</head>
<body>
    <form name="select" action="sresults" method="POST">
        <select name="creator_select" >
            <option selected label=""></option>
            {% for creator in creators %}
            <option value="{{creator['id']}}">{{creator['last_name']}} {{creator['first_name']}}</option>
            {% endfor %}
        </select>
        <select name="keyword_select">
            <option selected label=""></option>
            {% for keyword in keywords %}
            <option value="{{keyword['id']}}">{{keyword['name']}} </option>
            {% endfor %}
        </select>
        <select name="language_select">
            {% for language in languages %}
            <option value="{{language['id']}}"> {{language['name']}}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit!</button>
    </form>
</body>
</html>