<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.acme.com/profiles/core http://dublincore.org/documents/dcq-html/">
<link href="http://purl.org/dc/elements/1.1/" rel="schema.DC" />
<link href="http://purl.org/dc/terms/" rel="schema.DCTERMS" />
<title>iframe-Template</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link href="http://www.uzh.ch/uzh/authoring/css/uzh.css" type="text/css" rel="stylesheet" />
<style type="text/css">
/* additional iframe styles */
html
{
	height:auto;
}
body
{
	background-color:#FFFFFF;
	margin: 0;
	height:auto;
}
div.bodywidth
{
	margin: 0;
	width: auto;
	min-height: 0;
}
</style>

</head>
<body>
<div class="bodywidth"> <a class="namedanchor" name="content">
  <!---->

  </a>
  <div>
    <h1>Login</h1>
    <div>
      <h2>Enter your credentials</h2>
      <p>
        <form method="POST">
            {{ form.csrf_token }}

            {{ form.username.label }}
            {{ form.username }}

            {{ form.password.label }}
            {{ form.password }}

            {{ form.login }}
        </form>
      </p>

      <h3>Headline 2 (h3)</h3>

      <p>Paragraph</p>
      <h4>Headline 3 (h4)</h4>
      <p>Paragraph</p>
      <h2>Links</h2>
      <p><a class="uzh" href="http://www.uzh.ch">Interner Link</a><br />
        <a class="www" href="http://www.admin.ch">Externer Link</a><br />

      </p>
      <h2>Download-Link</h2>
      <div class="asset"> <a href="testdokument.pdf" class="download">Testdokument <span class="assetType">(PDF, 13 KB)</span></a></div>
    </div>
  </div>
</div>
</body>
</html>
